body {
  position: fixed;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

.lil-gui {
  z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}

#buttons {
  position: absolute;
  /* z-index: 5; */
  top: 10%;
  /* left: 10%; */
  /* background-color: red; */
  pointer-events: none;
}
.button {
  opacity: 0.5;
  background-color: #00000000;
  color: blue;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 4px ;
  cursor: pointer;
  pointer-events: all;
}

#AR{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  margin: 0;
  background-color: aquamarine;
}
